#websiteHead{
    height: 2em;
  display: flex;
  border: 3px solid darkgrey;
  border-radius: 1px;
  background-color: #484848;
  background-image: linear-gradient(to top, #535353, #919191);
  background-repeat: repeat-x;
}

#headContent{
    color: rgb(250, 174, 174);
}